.mainsection {
  width: 100%;
}



.vertical-timeline-element-subtitle {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.vertical-timeline-element-title {
  font-size: 1.1em;
  color: var(--clr-primary);
}
